.button-group {
  display: inline-flex;
  border: 1px solid #cccccc;
  border-radius: 4px;
  overflow: hidden;
}

.button {
  padding: 10px 16px;
  outline: none;
  border: none;
  cursor: pointer;
  border-right: 1px solid #cccccc;
  background: #eeeeee;
  font-family: "Inter", sans-serif;
}

.button:last-child {
  border-right: none;
}

.button:hover {
  background: #dddddd;
}
